<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        footer {
      font-family: Arial;
      font-size: 0.5em;
    }
    </style>
</head>
<body>
    <footer>
      <center><p>INGENIERIA DEL SOFTWARE III</p>

        <P>DESARROLLADOR: DIEGO RAMIREZ</p>
        <p><a href="https://gitlab.com/Diego24a/02-ug-0095-motor-2-planillas.git">SITIO WEB</a></p>
        </center>
    </footer>
</body>
</html>

 