<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 404</title>
</head>
<body>
   <center>
        <h1>ERROR 404</h1>
        <h3>Lo sentimos, la página que busca no se encontró.</h3>
   </center> 
</body>
</html>